<div class="page-content gray-background">
    <div class="container">
        <div class="lecture-stats-page text-black">

            <div id="lectureNumTitle" class="row padding-title">Lecture NUM here</div>
            <div id="lectureDescriptionTitle" class="row lecture-description padding-title">Lecture description</div>
            <div id="lectureDateTitle" class="row padding-title">DATE HERE</div>
            
            <div class="row white-background padding-link overall-stats-link">
                <img id="lecture-graph">
            </div>

        </div>
    </div>
</div> 