<div class="page-content gray-background">
    <div class="container">
        <div class="lecture-stats-page text-black">

            <div id="lectureNumTitle" class="row padding-title">Lecture NUM here</div>
            <div id="lectureDateTitle" class="row padding-title">DATE HERE</div>
            
            <div class="row white-background padding-link overall-stats-link">
                <span class="row display-inline-block text-black">white</span>
            </div>

        </div>
    </div>
</div> 