{{#.}}
	<a href="contact.html?courseNumber={{attributes.courseNumber}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title text-center">{{attributes.courseNumber}}</div>
		</div>
	</a>
{{/.}}