.navbar {
  border-bottom: none;
  background: #2b59a2;
  color: #ffffff;
}
.navbar a.link {
  color: #ffffff;
}
.no-margin-list {
  margin: 0px;
}
i.icon-plus {
  height: 25px;
  font-size: 31px;
  line-height: 20px;
  font-weight: 100;
}
.ion-ios7-person {
  color: #2b59a2;
  font-size: 25px;
  line-height: 20px;
}
.item-title {
  width: 100%;
}
.text-center {
  text-align: center;
}
.elem-center {
  margin: 0 auto;
}
.light-grey-background {
  background-color: #b8b8b8;
}
.gray-background {
  background-color: #d1cccc;
}
.white-background {
  background-color: #ffffff;
}
.border-bottom {
  border-bottom: 2px solid #d1cccc;
}
.border-right {
  border-right: 2px solid #d1cccc;
}
.bolt-slider {
  font-size: 30px;
}
.font-small {
  font-size: 17px;
}
.left-align {
  text-align: left;
}
.bolts-information {
  padding: 10px 45px 23px;
  position: relative;
}
#scroll-bolt-left {
  position: absolute;
  left: 10px;
  top: 43%;
}
#scroll-bolt-right {
  position: absolute;
  right: 10px;
  top: 43%;
}
#no-left-margin {
  margin-left: 0;
}
.button.button-big.bolt-action-button {
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  margin-bottom: 10px;
}
.button.button-big.button-danger {
  display: none;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.button.button-big.button-danger:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #c9302c;
  border-color: #ac2925;
}
#bolt-number {
  font-weight: bold;
}
.class-title {
  margin-bottom: 0;
  font-size: 40px;
}
#class-schedule-title {
  margin-bottom: 15px;
  margin-top: 0px;
}
.overall-stats-link {
  padding-left: 5%;
}
.overall-stats-page {
  font-size: 30px;
  color: black;
}
.class-date {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
}
.class-time-label {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 17px;
}
.class-time {
  margin-top: 0;
  font-size: 45px;
}
.list-block .item-inner {
  padding-top: 25px;
  padding-bottom: 24px;
}
.response-icon-container {
  margin-top: 60px;
}
.response-icon {
  width: 50px;
  height: 50px;
  margin: 0 25px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%;
}
.response-icon.small {
  width: 20px;
  height: 20px;
  margin: 0 15px;
}
.response-icon.active {
  border-color: #2b59a2;
  background-color: #d1cccc;
}
.week-number-box {
  padding: 20px;
  margin: 3px 0px;
  text-align: left;
}
.week-text {
  color: black;
  font-size: 25px;
  padding-left: 5%;
}
.carrot {
  width: 35px;
  position: relative;
  left: 78%;
  top: 43%;
}
.right-carrot {
  width: 20px;
  left: 10%;
}
.padding-title {
  font-size: 40px;
  padding-left: 5%;
}
.padding-link {
  padding: 20px 5%;
}
.lecture-num-box {
  margin: 3px 0px;
  padding: 10px 0px;
}
.lecture-num-text {
  text-align: left;
  font-size: 25px;
  padding-left: 10%;
  color: #3141fd;
}
.display-none {
  display: none;
}
.lecture-nums-chunk {
  display: none;
}
.lecture-date-text {
  padding-left: 3%;
  color: #505050;
}
#overall-stats-button {
  margin-top: 10%;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  margin-bottom: 10px;
  width: 80%;
}
.text-black {
  color: black;
}
.display-inline-block {
  display: inline-block;
}
#lectureNumTitle {
  padding-top: 5%;
  font-weight: bold;
  font-size: 50px;
}
#lectureDateTitle {
  font-size: 35px;
  padding-bottom: 5%;
}
.dark-gray-text {
  color: #686868;
}
.documentation {
  padding: 0px 0px 12px 5%;
  font-size: 19px;
}
.best-worst-lecture-title {
  padding-bottom: 0px;
}
#overall-responses {
  padding-bottom: 8px;
}
.smaller-size-icons {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 0px 10px;
}
.lecture-description {
  font-style: italic;
}
#circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: blue;
}
