<div class="content-block-title">Current Bolt</div>
<div class="content-block text-center">
    <div class="response-icon-container">
        <img class="response-icon" src="/glyphicons/check.png" data-type="check"/>
        <img class="response-icon" src="/glyphicons/x.png" data-type="x"/> 
    </div>
</div>

<div class="content-block-title">Past Bolts</div>
<div class="content-block">
{{#each bolts}}
    <li class="item-content">
        <div class="item-inner">        	
        	Bolt {{attributes.BoltNum}}
            <div class="">
                {{#if attributes.isResponsePositive}}
                    <img class="response-icon small active" src="/glyphicons/check.png"/>
                    <img class="response-icon small" src="/glyphicons/x.png"/>    
                {{else}}
            	   <img class="response-icon small" src="/glyphicons/check.png"/>
                   <img class="response-icon small danger" src="/glyphicons/x.png" />
            	{{/if}}
            </div>

            <div class="">{{attributes.timeOfBolt}}</div>
            
        </div>
    </li>
{{/each}}
</div>