<div class="page-content gray-background">
    <div class="container text-center">
        <div class="content-block">
            <div class="row">
                <div class="col-100">
                    <h1 id="class-schedule-title" class="class-title">Class Schedule</h1>
                </div>
            </div>


            <div class="row white-background week-number-box">
                <span class="week-text">Week 1</span>
                <img id="up-carrot" src="glyphicons/up_carrot.png">
                <img id="down-carrot" src="glyphicons/down_carrot.png">
            </div>
            <div class="row white-background week-number-box">
                <span class="week-text">Week 2</span>
                <img id="up-carrot" src="glyphicons/up_carrot.png">
                <img id="down-carrot" src="glyphicons/down_carrot.png">
            </div>
            <div class="row white-background week-number-box">
                <span class="week-text">Week 3</span>
                <img id="up-carrot" src="glyphicons/up_carrot.png">
                <img id="down-carrot" src="glyphicons/down_carrot.png">
            </div>
            <div class="row white-background week-number-box">
                <span class="week-text">Week 4</span>
                <img id="up-carrot" src="glyphicons/up_carrot.png">
                <img id="down-carrot" src="glyphicons/down_carrot.png">
            </div>
            <div class="row white-background week-number-box">
                <span class="week-text">Week 5</span>
                <img id="up-carrot" src="glyphicons/up_carrot.png">
                <img id="down-carrot" src="glyphicons/down_carrot.png">
            </div>


            <div class="row">
                <div class="col-10">&nbsp;</div>
                <div class="col-80">
                    <a href="schedule.html?id={{id}}">
                         <div id="overall-stats" class="button button-big active elem-center">See Overall Statistics <img id="chart-picture"src="glyphicons/chart.png"></div>
                     </a>
                </div>
            </div>
        </div>
    </div>
</div> 