<div class="page-content gray-background">
    <div class="container">
        <div class="content-block text-black">
            <div class="row">
                <div class="col-100">
                    <h1 id="class-schedule-title" class="class-title text-center">Class Schedule</h1>
                </div>
            </div>

            <a href="#" class="link">
                <div id="week3" class="row white-background week-number-box">
                    <span class="week-text">Week 3</span>
                    <img class="carrot" id="up-carrot3" src="glyphicons/up_carrot.png">
                    <img class="carrot display-none" id="down-carrot3" src="glyphicons/down_carrot.png">
                </div>
            </a>
            <div id="lectures3" class="lecture-nums-chunk">
                <a href="#" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 6</span>
                        <span id="lecture6" class="lecture-date-text">LECTURE DATE</span>
                    </div>
                </a>
                <a href="#" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 5</span>
                        <span id="lecture5" class="lecture-date-text">TUE 10/7</span>
                    </div>
                </a>
            </div>

            <a href="#" class="link">
                <div id="week2" class="row white-background week-number-box">
                    <span class="week-text">Week 2</span>
                    <img class="carrot" id="up-carrot2" src="glyphicons/up_carrot.png">
                    <img class="carrot display-none" id="down-carrot2" src="glyphicons/down_carrot.png">
                </div>
            </a>
            <div id="lectures2" class="lecture-nums-chunk">
                <a href="#" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 4</span>
                        <span id="lecture4" class="lecture-date-text">THU 10/2</span>
                    </div>
                </a>
                <a href="#" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 3</span>
                        <span id="lecture3" class="lecture-date-text">TUE 09/30</span>
                    </div>
                </a>
            </div>

            <a href="#" class="link">
                <div id="week1" class="row white-background week-number-box">
                    <span class="week-text">Week 1</span>
                    <img class="carrot" id="up-carrot1" src="glyphicons/up_carrot.png">
                    <img class="carrot display-none" id="down-carrot1" src="glyphicons/down_carrot.png">
                </div>
            </a>
            <div id="lectures1" class="lecture-nums-chunk">
                <a href="#" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 2</span>
                        <span id="lecture2" class="lecture-date-text">THU 09/25</span>
                    </div>
                </a>
                <a href="#" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 1</span>
                        <span id="lecture1" class="lecture-date-text">TUE 09/23</span>
                    </div>
                </a>
            </div>

            <div class="row">
                <div class="col-10">&nbsp;</div>
                <div class="col-80">
                    <a href="overall_stats.html?id=cZyxdqvNyO">
                         <div id="overall-stats-button" class="button button-big active elem-center">See Overall Class Statistics <img id="chart-picture"src="glyphicons/chart.png"></div>
                     </a>
                </div>
            </div>
        </div>
    </div>
</div> 