<div class="page-content gray-background">
    <div class="container">
        <div class="content-block text-black">
            <div class="row">
                <div class="col-100">
                    <h1 id="class-schedule-title" class="class-title text-center">Class Schedule</h1>
                </div>
            </div>

            <a href="#" class="link">
                <div id="week3" class="row white-background week-number-box">
                    <span class="week-text">Week 3</span>
                    <img class="carrot" id="up-carrot3" src="glyphicons/up_carrot.png">
                    <img class="carrot display-none" id="down-carrot3" src="glyphicons/down_carrot.png">
                </div>
            </a>
            <div id="lectures3" class="lecture-nums-chunk">
                <a href="lecture_stats.html?lectureNum=6&#32;-&#32;Concept&#32;Videos&lectureDate=THU&#32;10/9" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 6 - Concept Videos</span>
                        <span id="lecture6" class="lecture-date-text">LECTURE DATE</span>
                    </div>
                </a>
                <a href="lecture_stats.html?lectureNum=5&#32;-&#32;Design&#32;Exploration&lectureDate=TUE&#32;10/7" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 5 - Design Exploration</span>
                        <span id="lecture5" class="lecture-date-text">TUE 10/7</span>
                    </div>
                </a>
            </div>

            <a href="#" class="link">
                <div id="week2" class="row white-background week-number-box">
                    <span class="week-text">Week 2</span>
                    <img class="carrot" id="up-carrot2" src="glyphicons/up_carrot.png">
                    <img class="carrot display-none" id="down-carrot2" src="glyphicons/down_carrot.png">
                </div>
            </a>
            <div id="lectures2" class="lecture-nums-chunk">
                <a href="lecture_stats.html?lectureNum=4&#32;-&#32;Task&#32;Analysis&lectureDate=THU&#32;10/2" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 4 - Task Analysis</span>
                        <span id="lecture4" class="lecture-date-text">THU 10/2</span>
                    </div>
                </a>
                <a href="lecture_stats.html?lectureNum=3&#32;-&#32;Contextual&#32;Inquiry&lectureDate=TUE&#32;09/30" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 3 - Contextual Inquiry</span>
                        <span id="lecture3" class="lecture-date-text">TUE 09/30</span>
                    </div>
                </a>
            </div>

            <a href="#" class="link">
                <div id="week1" class="row white-background week-number-box">
                    <span class="week-text">Week 1</span>
                    <img class="carrot" id="up-carrot1" src="glyphicons/up_carrot.png">
                    <img class="carrot display-none" id="down-carrot1" src="glyphicons/down_carrot.png">
                </div>
            </a>
            <div id="lectures1" class="lecture-nums-chunk">
                <a href="lecture_stats.html?lectureNum=2&#32;-&#32;Overview&#32;of&#32;HCI&lectureDate=THU&#32;09/25" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 2 - Overview of HCI</span>
                        <span id="lecture2" class="lecture-date-text">THU 09/25</span>
                    </div>
                </a>
                <a href="lecture_stats.html?lectureNum=1&#32;-&#32;Introduction&#32;to&#32;CS&#32;147&lectureDate=TUE&#32;09/23" class="link">
                    <div class="row light-grey-background lecture-num-box">
                        <span class="lecture-num-text">Lecture 1 - Introduction to CS 247</span>
                        <span id="lecture1" class="lecture-date-text">TUE 09/23</span>
                    </div>
                </a>
            </div>

            <div class="row">
                <div class="col-10">&nbsp;</div>
                <div class="col-80">
                    <a href="overall_stats.html">
                         <div id="overall-stats-button" class="button button-big active elem-center">See Overall Class Statistics <img id="chart-picture"src="glyphicons/chart.png"></div>
                     </a>
                </div>
            </div>
        </div>
    </div>
</div> 