{{#.}}
	{{#if attributes.isLive}}
		<a href="contact.html?id={{id}}" class="item-link item-content">
	{{else}}
		<a href="schedule.html?courseNumber={{attributes.courseNumber}}" class="item-link item-content">
	{{/if}}
			<div class="item-inner">
				<div class="item-title text-center">{{attributes.courseNumber}}</div>
			</div>
		</a>
{{/.}}