<div class="page-content gray-background">
    <div class="container">
        <div class="overall-stats-page">

            <div id="best-lecture-title" class="row padding-title padding-link">Best Lecture</div>
            <div class="row documentation">Lecture with the highest understanding rate</div>
            <a href="#">
                <div class="row white-background padding-link overall-stats-link">
                    <span class="row dark-gray-text display-inline-block text-black">white</span>
                    <img class="carrot display-inline-block right-carrot" id="right-carrot" src="glyphicons/right_carrot.png">
                </div>
            </a>

            <div class="row padding-title padding-link">Worst Lecture</div>
            <a href="#">
                <div class="row white-background padding-link overall-stats-link">
                    <span class="row dark-gray-text display-inline-block text-black">white</span>
                    <img class="carrot display-inline-block right-carrot" id="right-carrot" src="glyphicons/right_carrot.png">
                </div>
            </a>

            <div class="row padding-title padding-link">Overall Response Rate</div>
            <div class="row dark-gray-text white-background padding-link overall-stats-link"></div>
            <div class="row dark-gray-text white-background documentation">responses out of total bolts sent</div>


            <div class="row padding-title padding-link">Average Response</div>
            <div class="row white-background padding-link overall-stats-link">white</div>

        </div>
    </div>
</div> 