<div class="page-content gray-background">
    <div class="container text-center">
        <div class="content-block">
            <div class="row">
                <div class="col-100">
                    <h1 class="class-title">Lecture {{lectureNumber}}</h1>
                    <p class="class-date">{{lectureDate}}</p>
                </div>
            </div>
            <div class="row white-background bolts-information">
                
                <img id="scroll-bolt-left" src="/glyphicons/arrow_left.png">
                <img id="scroll-bolt-right" src="/glyphicons/arrow_right.png">

                <div class="col-100" id="no-left-margin">
                    <div class="row no-gutter">
                        <div class="col-100 bolt-slider">
                            <div class="row">
                                <div class="col-100">
                                    <span id="bolt-number"></span>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-100 border-bottom">
                                    <div class="row no-gutter">
                                        <div class="col-50">
                                            <span id="negative-bolts"></span>
                                            <img src="/glyphicons/x.png">
                                        </div>
                                        <div class="col-50">
                                            <span id="positive-bolts"></span>
                                            <img src="/glyphicons/check.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-100">
                                    <div class="row no-gutter">
                                        <div class="col-50 border-right">
                                            <span id="total-bolts"></span>
                                            <span class="font-small"> Responses</span>
                                        </div>
                                        <div class="col-50">
                                            <span class="font-small">@ </span>
                                            <span id="timestamp-bolts"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <p class="class-time-label">Class Time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <h1 class="class-time"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10">&nbsp;</div>
                <div class="col-80">
                    <a href="#" id="send-bolt" class="button button-big active bolt-action-button">Send Bolt</a>
                </div>
            </div>
            <div class="row">
                <div class="col-10">&nbsp;</div>
                <div class="col-80">
                    <a href="#" id="end-bolt" class="button button-big button-danger bolt-action-button">End Bolt</a>
                </div>
            </div>
        </div>

<!--         <div class="content-block">
        </div>
        <div class="content-block">
        </div>
        <div class="content-block">
        </div> -->
            <!-- <div class="lecture-information text-center">
                <h1 class="class-title">Lecture {{lectureNumber}}</h1>
                <p>{{lectureDate}}</p>
            </div>
            <div class="bolts-information">BOLT INFO HERE!
            </div>
            <div class="lecture-time-info text-center">
                
            </div>
            <div class="send-bolt">
                <a href="#" class="button">Usual Button 1</a>
            </div> -->
        </div>
    </div>
</div> 